#welcome{
    display: block;
    height: 800px;
    width: 360px;
    margin: 10% 0px;
}
#welcome-firstSection{
    display: flex;
    align-items: center;
}
#welcome-firstSection h1{
   padding-left: 60px;
}
#welcom {
    text-align: center;
    color: #E6195E;
}
#welcome-paragh{
    text-align: center;
    color: #E6195E;
}
#welcome-btn{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
#welcome-btn button{
    width: 309px;
    height: 40px;
   border-radius: 10px;
   border: none;
   background-color: #E6195E;
   color: white;
   font-size: 15px;
   font-weight: 700;
}