#onboarding{
    background-color:#E6195E;
    height: 800px;
    display: none;
}
#onboarding #logo{
    display: flex;
    align-items: center;
}
#logo img{
    position: absolute;
    width: 219px;
    height: 208.09px;
    top: 296px;
    left: 70px;
    gap: 0px;
    border-radius: 27.27px 0px 0px 0px;
    opacity: 0px;  
}
#logo h1{
    position: absolute;
    top: 430px;
    left: 110px;
    color: white;
}

#welcome{
    display: none;
    height: 800px;
    width: 360px;
    margin: 10% 0px;
}
#welcome-firstSection{
    display: flex;
    align-items: center;
}
#welcome-firstSection h1{
   padding-left: 60px;
}
#welcom {
    text-align: center;
    color: #E6195E;
}
#welcome-paragh{
    text-align: center;
    color: #E6195E;
}
#welcome-btn{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
#welcome-btn button{
    width: 309px;
    height: 40px;
   border-radius: 10px;
   border: none;
   background-color: #E6195E;
   color: white;
   font-size: 15px;
   font-weight: 700;
}